<!DOCTYPE html>
<head>
    <title> About Page</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
<body>
  <div class="main-content"><header>  {{>header}} 
  <br><h3>Description: </h3>
  <div style="font-size: 20px; font-family:Arial, Helvetica, sans-serif" > 
      This is a weather app,designed to get realtime weather data by just entering the appropriate location.
      This app currently contains just contains 3 fields but we are continously working on it to make it better for you. </div>
     </header>
  <h3 style="color: orangered;">   If you have any query please ,Contact us: </h3>
  <a style="margin: 0px 0px;" href="mailto:pardeepgyl123@gmail.com">    <img src="/img/gmail.png" width="50px" height="50px"></a> 
   <br>  <br> <a href="https://www.instagram.com/pardeep_goyal07/"><img src="/img/instagram.jfif" width="50px" height="50px"> </a>
 </div>   <footer>{{>footer}}</footer> 
</body>    
</html>