<!DOCTYPE html>
<head>
    <title> About Page</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
<body>
  <div class="main-content"><header>  {{>header}} 
  <br><div>  <img src="img/my.jpg" width="200px" height="200px"> </div>
     </header>
     <h2 font-family="arial" style="color: orangered;">I know i had a bad smile.
         But can't really help,You have to bear it
     </h2></div>
    <footer>{{>footer}}</footer> 
</body>    
</html>