<!DOCTYPE html>
<head>
    <title>Help Page</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
<body>

<div class="main-content"> <header>{{>header}} </header>
 <img src="img/help.gif" width="250px" height="250px"> </div>
<font color="orangered"> <h3>This Page has nothing because I don't want to help.
    You can just explore the Home Page if you want or just leave!.
</h3></font>
    <footer>{{>footer}}</footer>
</body>    
</html>