<!DOCTYPE html>
<head>
        <link rel="stylesheet" href="css/style.css">
    </head>
<body>
  <div class="main-content"><header>  {{>header}} 
  <br><div>  <img src="img/my.jpg" width="200px" height="200px"> </div>
     </header></div>
    <footer>{{>footer}}</footer> 
</body>    
</html>